## Overview of a Series

In [1]:
import pandas as pd
import numpy as np

### Create and empty series and assign it to empty

In [3]:
empty = pd.Series()

### Create a series with list

In [5]:
ice_cream_flavors = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]

In [7]:
empty = pd.Series(data=ice_cream_flavors)
empty

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

### Set days of week as Series Index

In [9]:
days_of_week = ("Monday", "Wednesday", "Friday", "Saturday")

In [11]:
empty = pd.Series(data=ice_cream_flavors,index=days_of_week)
empty

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

### Convert bunch of booleans to series

In [12]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

### Set Time of day as index and stock prices as series

In [5]:
stock_prices = [985.32, 950.44]
time_of_day = ["Open", "Close"]

### Convert list of numbers to series

In [6]:
lucky_numbers = [4, 8, 15, 16, 23, 42]

In [7]:
lucky_numbers = [4, 8, 15, 16, 23, 42]

### Create a Series with Missing Values

In [8]:
temperatures = [94, 88, np.nan, 91]

### Create a Series from Python Objects

In [9]:
calorie_info = { "Cereal": 125,"Chocolate Bar": 406, "Ice Cream Sundae": 342}

In [10]:
data = ("Red", "Green", "Blue")

In [11]:
rgb_colors = [(120, 41, 26), (196, 165, 45)]

In [12]:
my_set = {"Ricky", "Bobby"}
# Set is an unordered type so convert it to list

In [13]:
random_data = np.random.randint(1, 101, 10)

### Series Attributes

In [14]:
diet = { "Cereal": 125,"Chocolate Bar": 406, "Ice Cream Sundae": 342}
diet = pd.Series(diet)

Question 1:
What is the type of the values stored in the diet Pandas Series?

Question 2:
What is the type of the index in the diet Pandas Series?

Question 3:
How many elements are there in the diet Pandas Series?

Question 4:
What is the shape of the diet Pandas Series?

Question 5:
Is the diet Pandas Series unique based on its values?

Question 6:
Is it possible for a Pandas Series to contain duplicate values? Provide an example.

Question 7:
Does the Pandas Series diet have a monotonic order based on its values?

Question 8:
Create a new Pandas Series with data [3, 3] and check if it is unique.

Question 9:
Create a new Pandas Series with data [1, 3, 6] and check if it is monotonic.

Question 10:
Create another Pandas Series with data [1, 6, 3] and check if it is monotonic.

### Retrieving the First 3 and Last 3 Rows

In [15]:
values = range(0, 500, 5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

### Mathematical Operations

### Statistical Operations

In [16]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

Question 1:
What is the count of non-NaN values in the numbers series?

Question 2:
What is the sum of all values in the numbers series?

Question 3:
What is the product of all values in the numbers series?

Question 4:
What is the cumulative sum of the numbers series, and how does it change when including NaN values?

Question 5:
What is the percentage change between consecutive elements in the numbers series?

Question 6:
How does the pct_change() method behave with different fill_method values?

Question 7:
What is the mean, median, and standard deviation of the values in the numbers series?

Question 8:
What is the maximum and minimum value in the numbers series?

Question 9:
What information does the count value in the describe() output provide about the numbers series?

In [17]:
animals = pd.Series(["koala", "aardvark", "zebra"])
animals

0       koala
1    aardvark
2       zebra
dtype: object

Question 1:
How many elements are there in the animals series?

Question 2:
What are the unique elements in the animals series?

Question 3:
What is the maximum value in the animals series?

Question 4:
What is the minimum value in the animals series?

Question 5:
What is the length of the longest string in the animals series?

Question 6:
Create a new series with the lengths of each string in the animals series. What is the maximum length?

Question 7:
Create a new series with the first letter of each string in the animals series. What is the maximum and minimum letter based on their ASCII values?

Question 8:
Are all elements in the animals series unique?

###  Arithmetic Operations

In [18]:
s1 = pd.Series(data = [5, np.nan, 15], index = ["A", "B", "C"])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

Question 1:
What are the original values and index of the s1 series?

Question 2:
What is the result of adding 3 to each element of the s1 series?

Question 3:
How can you achieve the same result as s1 + 3 using the add() method?

Question 4:
What is the result of subtracting 5 from each element of the s1 series?

Question 5:
How can you achieve the same result as s1 - 5 using the sub() and subtract() methods?

Question 6:
What is the result of multiplying each element of the s1 series by 2?

Question 7:
How can you achieve the same result as s1 * 2 using the mul() and multiply() methods?

Question 8:
What is the result of dividing each element of the s1 series by 2?

Question 9:
How can you achieve the same result as s1 / 2 using the div() and divide() methods?

Question 10:
What is the result of performing integer division (floor division) of each element of the s1 series by 4?

Question 11:
How can you achieve the same result as s1 // 4 using the floordiv() method?

Question 12:
What is the result of taking the remainder when each element of the s1 series is divided by 3?

Question 13:
How can you achieve the same result as s1 % 3 using the mod() method?

###  Broadcasting

In [19]:
s1 = pd.Series([1, 2, 3], index = ["A", "B", "C"])
s2 = pd.Series([4, 5, 6], index = ["A", "B", "C"])

Question 1:
What are the original values and indices of the s1 and s2 series?

Question 2:
What is the result of adding the values of s1 and s2 element-wise?

Question 3:
How can you achieve the same result as s1 + s2 using the add() method?

Question 4:
What are the results of comparing each element of s1 with the corresponding element of s2 using the equality operator (==)?

Question 5:
How can you achieve the same result as s1 == s2 using the eq() method?

Question 6:
What are the results of comparing each element of s1 with the corresponding element of s2 using the inequality operator (!=)?

Question 7:
How can you achieve the same result as s1 != s2 using the ne() method?

Question 8:
What are the values and indices of s1 + s2 when the two series have different indices?

Question 9:
How does Pandas handle addition between two series with different indices?

Question 10:
How can you modify the addition operation to handle NaN values more gracefully when the series have different indices?

### Passing the Series to Python's Built-In Functions

In [20]:
cities = pd.Series(
    data = ["San Francisco", "Los Angeles", "Las  Vegas", np.nan]
)

Question 1:
How many elements are there in the cities series?

Question 2:
What is the type of the cities series?

Question 3:
What is the data type of the elements in the cities series?

Question 4:
How can you determine the available methods and attributes of the cities series?

Question 5:
Can you find the first element in the cities series?

Question 6:
How would you check if there are any missing (NaN) values in the cities series?

Question 7:
If you wanted to convert all the elements in the cities series to lowercase, what method would you use?

Question 8:
How can you obtain a summary of basic statistics for the cities series, such as count, unique values, and frequency of the most common value?

Question 9:
Is it possible to access the second element of the cities series using both index-based and label-based indexing?

Question 10:
If you wanted to remove any missing (NaN) values from the cities series, what method would you use?

Question 11:
How would you check if a specific city, for example, "Los Angeles," is present in the cities series?

Question 12:
If you wanted to add a new city, "New York," to the cities series, how would you do it?

Question 13:
How can you convert the cities series to a Python list?

Question 14:
What is the result of converting the cities series to a dictionary? How are the indices represented?

Question 15:
How can you check if "Las Vegas" is present in the cities series using the in operator?

Question 16:
What is the result of checking if the index value 2 is present in the cities series using the in operator?

Question 17:
How can you check if the value "Las Vegas" is present in the values of the cities series?

Question 18:
What is the result of checking if the value 100 is not present in the cities series using the not in operator?

Question 19:
How can you check if the value "Paris" is not present in the values of the cities series?

Question 20:
How would you access the second element of the cities series using index-based and label-based indexing?

In [21]:
superheroes = [
    "Batman",
    "Superman",
    "Spider-Man",
    "Iron Man",
    "Captain America",
    "Wonder Woman"
]

In [22]:
strength_levels = (100, 120, 90, 95, 110, 120)

In [23]:
heroes = pd.Series(
    data = strength_levels, index = superheroes
)

heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

Question 1:
What are the superheroes and their corresponding strength levels in the heroes series?

Question 2:
How can you access the first two elements of the heroes series?

Question 3:
How can you access the last four elements of the heroes series?

Question 4:
How many unique strength levels are there in the heroes series?

Question 5:
What is the mean strength level of the superheroes in the heroes series?

Question 6:
Who is the superhero with the maximum strength level in the heroes series?

Question 7:
Who is the superhero with the minimum strength level in the heroes series?

Question 8:
What is the result of doubling the strength levels of each superhero in the heroes series?

Question 9:
How can you convert the heroes series to a dictionary?

Question 10:
How would you check if Spider-Man is present in the index of the heroes series?

Question 11:
How can you check if the strength level of Wonder Woman is present in the values of the heroes series?