## Overview of a Series

In [1]:
import pandas as pd
import numpy as np

### Create an empty series and assign it to empty

In [9]:
empty = pd.Series()
empty

Series([], dtype: object)

### Create a series with list

In [10]:
ice_cream_flavors = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

### Set days of week as Series Index

In [11]:
days_of_week = ("Monday", "Wednesday", "Friday", "Saturday")
pd.Series(days_of_week)

0       Monday
1    Wednesday
2       Friday
3     Saturday
dtype: object

### Convert bunch of booleans to series

In [12]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

### Set Time of day as index and stock prices as series

In [16]:
stock_prices = [985.32, 950.44]
time_of_day = ["Open", "Close"]
pd.Series(index = time_of_day, data = stock_prices)

Open     985.32
Close    950.44
dtype: float64

### Convert list of numbers to series

In [17]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [18]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Create a Series with Missing Values

In [19]:
temperatures = [94, 88, np.nan, 91]
pd.Series(temperatures)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

### Create a Series from Python Objects

In [20]:
calorie_info = { "Cereal": 125,"Chocolate Bar": 406, "Ice Cream Sundae": 342}
pd.Series(calorie_info)

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [21]:
data = ("Red", "Green", "Blue")
pd.Series(data)

0      Red
1    Green
2     Blue
dtype: object

In [22]:
rgb_colors = [(120, 41, 26), (196, 165, 45)]
pd.Series(rgb_colors)

0     (120, 41, 26)
1    (196, 165, 45)
dtype: object

In [23]:
my_set = {"Ricky", "Bobby"}
lst = list(my_set)
pd.Series(lst)
# Set is an unordered type so convert it to list

0    Ricky
1    Bobby
dtype: object

In [13]:
random_data = np.random.randint(1, 101, 10)

### Series Attributes

In [25]:
diet = { "Cereal": 125,"Chocolate Bar": 406, "Ice Cream Sundae": 342}
diet = pd.Series(diet)
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

Question 1:
What is the type of the values stored in the diet Pandas Series?

Question 2:
What is the type of the index in the diet Pandas Series?

Question 3:
How many elements are there in the diet Pandas Series?

Question 4:
What is the shape of the diet Pandas Series?

Question 5:
Is the diet Pandas Series unique based on its values?

Question 6:
Is it possible for a Pandas Series to contain duplicate values? Provide an example.

Question 7:
Does the Pandas Series diet have a monotonic order based on its values?

Question 8:
Create a new Pandas Series with data [3, 3] and check if it is unique.

Question 9:
Create a new Pandas Series with data [1, 3, 6] and check if it is monotonic.

Question 10:
Create another Pandas Series with data [1, 6, 3] and check if it is monotonic.

In [27]:
# Question 1: What is the type of the values stored in the diet Pandas Series?
diet.info()
# int values

<class 'pandas.core.series.Series'>
Index: 3 entries, Cereal to Ice Cream Sundae
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      int64
dtypes: int64(1)
memory usage: 156.0+ bytes

In [30]:
# Question 2: What is the type of the index in the diet Pandas Series?

diet.index # object

Object `Series` not found.

Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [35]:
# Question 3: How many elements are there in the diet Pandas Series?

diet.count()

3

In [36]:
# Question 4: What is the shape of the diet Pandas Series?

diet.shape

Object `Series` not found.

(3,)

In [37]:
# Question 5: Is the diet Pandas Series unique based on its values?

diet # yes

Object `values` not found.

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [39]:
# Question 6: Is it possible for a Pandas Series to contain duplicate values? Provide an example.

pd.Series([1,2,3,4,4,5])

0    1
1    2
2    3
3    4
4    4
5    5
dtype: int64

In [ ]:
## Question 7: Does the Pandas Series diet have a monotonic order based on its values?

# No, the provided Pandas Series "diet" does not have a monotonic order.
# In this case, the values are not consistently increasing or decreasing,

In [40]:
# Question 8: Create a new Pandas Series with data [3, 3] and check if it is unique.

pd.Series([3,3])# not unique

0    3
1    3
dtype: int64

In [41]:
# Question 9: Create a new Pandas Series with data [1, 3, 6] and check if it is monotonic.

pd.Series([1, 3, 6]) # is monotonic, continuosly increasing

0    1
1    3
2    6
dtype: int64

In [42]:
# Question 10: Create another Pandas Series with data [1, 6, 3] and check if it is monotonic.
pd.Series([1, 6, 3]) # not monotonic, increasing and decreasing

0    1
1    6
2    3
dtype: int64

### Retrieving the First 3 and Last 3 Rows

In [44]:
values = range(0, 500, 5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [45]:
nums.head(3)

0     0
1     5
2    10
dtype: int64

In [46]:
nums.tail(3)

97    485
98    490
99    495
dtype: int64

### Mathematical Operations

### Statistical Operations

In [48]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

Question 1:
What is the count of non-NaN values in the numbers series?

Question 2:
What is the sum of all values in the numbers series?

Question 3:
What is the product of all values in the numbers series?

Question 4:
What is the cumulative sum of the numbers series, and how does it change when including NaN values?

Question 5:
What is the percentage change between consecutive elements in the numbers series?

Question 6:
How does the pct_change() method behave with different fill_method values?

Question 7:
What is the mean, median, and standard deviation of the values in the numbers series?

Question 8:
What is the maximum and minimum value in the numbers series?

Question 9:
What information does the count value in the describe() output provide about the numbers series?

In [49]:
# Question 1: What is the count of non-NaN values in the numbers series?

numbers.count()

5

In [50]:
# Question 2: What is the sum of all values in the numbers series?

numbers.sum()

15.0

In [51]:
# Question 3: What is the product of all values in the numbers series?

numbers.product()

120.0

In [52]:
# Question 4: What is the cumulative sum of the numbers series, and how does it change when including NaN values?

numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [53]:
# Question 5: What is the percentage change between consecutive elements in the numbers series?

numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [56]:
# Question 6: How does the pct_change() method behave with different fill_method values?
numbers.pct_change(fill_method= 'bfill')

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.000000
5    0.250000
dtype: float64

In [57]:
numbers.pct_change(fill_method= 'ffill')

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [58]:
# Question 7: What is the mean, median, and standard deviation of the values in the numbers series?
# Question 8: What is the maximum and minimum value in the numbers series?


numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [ ]:
# Question 9: What information does the count value in the describe() output provide about the numbers series?

# ans. it counts all the records except null.

In [60]:
animals = pd.Series(["koala", "aardvark", "zebra"])
animals

0       koala
1    aardvark
2       zebra
dtype: object

Question 1:
How many elements are there in the animals series?

Question 2:
What are the unique elements in the animals series?

Question 3:
What is the maximum value in the animals series?

Question 4:
What is the minimum value in the animals series?

Question 5:
What is the length of the longest string in the animals series?

Question 6:
Create a new series with the lengths of each string in the animals series. What is the maximum length?

Question 7:
Create a new series with the first letter of each string in the animals series. What is the maximum and minimum letter based on their ASCII values?

Question 8:
Are all elements in the animals series unique?

In [61]:
# Question 1: How many elements are there in the animals series?

animals.count()

3

In [67]:
# Question 2: What are the unique elements in the animals series?

animals.unique()

array(['koala', 'aardvark', 'zebra'], dtype=object)

In [68]:
# Question 3: What is the maximum value in the animals series?

animals.max()

'zebra'

In [69]:
#Question 4: What is the minimum value in the animals series?

animals.min()

'aardvark'

In [70]:
#Question 5: What is the length of the longest string in the animals series?

len(animals[animals.apply(len).idxmax()])

8

In [73]:
# Question 6: Create a new series with the lengths of each string in the animals series. What is the maximum length?

str_length = animals.str.len()
max(pd.Series(str_length))

8

In [102]:
# Question 7: Create a new series with the first letter of each string in the animals series. What is the maximum and minimum letter based on their ASCII values?

 #   for animal in animals:
#        print(animal[0])

first_letter = animals.str[0]
first_letter

0    k
1    a
2    z
dtype: object

In [104]:
max_letter = first_letter.max()
max_letter

'z'

In [103]:
min_letter = first_letter.min()
min_letter

'a'

In [105]:
# Question 8: Are all elements in the animals series unique?
animals.unique() # yes

array(['koala', 'aardvark', 'zebra'], dtype=object)

###  Arithmetic Operations

In [106]:
s1 = pd.Series(data = [5, np.nan, 15], index = ["A", "B", "C"])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

Question 1:
What are the original values and index of the s1 series?

Question 2:
What is the result of adding 3 to each element of the s1 series?

Question 3:
How can you achieve the same result as s1 + 3 using the add() method?

Question 4:
What is the result of subtracting 5 from each element of the s1 series?

Question 5:
How can you achieve the same result as s1 - 5 using the sub() and subtract() methods?

Question 6:
What is the result of multiplying each element of the s1 series by 2?

Question 7:
How can you achieve the same result as s1 * 2 using the mul() and multiply() methods?

Question 8:
What is the result of dividing each element of the s1 series by 2?

Question 9:
How can you achieve the same result as s1 / 2 using the div() and divide() methods?

Question 10:
What is the result of performing integer division (floor division) of each element of the s1 series by 4?

Question 11:
How can you achieve the same result as s1 // 4 using the floordiv() method?

Question 12:
What is the result of taking the remainder when each element of the s1 series is divided by 3?

Question 13:
How can you achieve the same result as s1 % 3 using the mod() method?

In [107]:
# Question 1: What are the original values and index of the s1 series?

s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [108]:
# Question 2: What is the result of adding 3 to each element of the s1 series?

s1 + 3

A     8.0
B     NaN
C    18.0
dtype: float64

In [109]:
# Question 3: How can you achieve the same result as s1 + 3 using the add() method?

s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

In [110]:
# Question 4: What is the result of subtracting 5 from each element of the s1 series?

s1 - 5

A     0.0
B     NaN
C    10.0
dtype: float64

In [111]:
Question 5: How can you achieve the same result as s1 - 5 using the sub() and subtract() methods?

s1.sub(5)

Object `methods` not found.

A     0.0
B     NaN
C    10.0
dtype: float64

In [112]:
# Question 6: What is the result of multiplying each element of the s1 series by 2?

s1 * 2

A    10.0
B     NaN
C    30.0
dtype: float64

In [113]:
# Question 7: How can you achieve the same result as s1 * 2 using the mul() and multiply() methods?

s1.multiply(2)

Object `methods` not found.

A    10.0
B     NaN
C    30.0
dtype: float64

In [114]:
s1.mul(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [115]:
# Question 8: What is the result of dividing each element of the s1 series by 2?

s1/2

A    2.5
B    NaN
C    7.5
dtype: float64

In [117]:
#Question 9: How can you achieve the same result as s1 / 2 using the div() and divide() methods?

s1.div(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [118]:
s1.divide(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [119]:
# Question 10: What is the result of performing integer division (floor division) of each element of the s1 series by 4?

s1//4

A    1.0
B    NaN
C    3.0
dtype: float64

In [120]:
# Question 11: How can you achieve the same result as s1 // 4 using the floordiv() method?

s1.floordiv(4)

A    1.0
B    NaN
C    3.0
dtype: float64

In [121]:
#Question 12: What is the result of taking the remainder when each element of the s1 series is divided by 3?

s1%3

A    2.0
B    NaN
C    0.0
dtype: float64

In [123]:
# Question 13: How can you achieve the same result as s1 % 3 using the mod() method?
s1.mod(3)

A    2.0
B    NaN
C    0.0
dtype: float64

###  Broadcasting

In [137]:
s1 = pd.Series([1, 2, 3], index = ["A", "B", "C"])
s2 = pd.Series([4, 5, 6], index = ["A", "B", "C"])

Question 1:
What are the original values and indices of the s1 and s2 series?

Question 2:
What is the result of adding the values of s1 and s2 element-wise?

Question 3:
How can you achieve the same result as s1 + s2 using the add() method?

Question 4:
What are the results of comparing each element of s1 with the corresponding element of s2 using the equality operator (==)?

Question 5:
How can you achieve the same result as s1 == s2 using the eq() method?

Question 6:
What are the results of comparing each element of s1 with the corresponding element of s2 using the inequality operator (!=)?

Question 7:
How can you achieve the same result as s1 != s2 using the ne() method?

Question 8:
What are the values and indices of s1 + s2 when the two series have different indices?

Question 9:
How does Pandas handle addition between two series with different indices?

Question 10:
How can you modify the addition operation to handle NaN values more gracefully when the series have different indices?

In [125]:
# Question 1: What are the original values and indices of the s1 and s2 series?
s1

A    1
B    2
C    3
dtype: int64

In [126]:
s2

A    4
B    5
C    6
dtype: int64

In [127]:
# Question 2: What is the result of adding the values of s1 and s2 element-wise?

s1 + s2

A    5
B    7
C    9
dtype: int64

In [128]:
# Question 3: How can you achieve the same result as s1 + s2 using the add() method?

s1.add(s2)

A    5
B    7
C    9
dtype: int64

In [129]:
# Question 4: What are the results of comparing each element of s1 with the corresponding element of s2 using the equality operator (==)?
s1==s2

A    False
B    False
C    False
dtype: bool

In [130]:
Question 5: How can you achieve the same result as s1 == s2 using the eq() method?

s1.eq(s2)

Object `method` not found.

A    False
B    False
C    False
dtype: bool

In [131]:
# Question 6: What are the results of comparing each element of s1 with the corresponding element of s2 using the inequality operator (!=)?

s1 != s2

A    True
B    True
C    True
dtype: bool

In [132]:
# Question 7: How can you achieve the same result as s1 != s2 using the ne() method?

s1.ne(s2)

Object `method` not found.

A    True
B    True
C    True
dtype: bool

In [135]:
# Question 8: What are the values and indices of s1 + s2 when the two series have different indices?

x1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
x2 = pd.Series([4, 5, 6], index=['x', 'y', 'z'])

x1+x2

a   NaN
b   NaN
c   NaN
x   NaN
y   NaN
z   NaN
dtype: float64

In [ ]:
# Question 9: How does Pandas handle addition between two series with different indices?

## When adding two series with different indices, Pandas aligns them based on indices. The result contains the union of indices, with NaN for unmatched values.

In [139]:
# Question 10: How can you modify the addition operation to handle NaN values more gracefully when the series have different indices?
result = x1.add(x2, fill_value=0)
result

a    1.0
b    2.0
c    3.0
x    4.0
y    5.0
z    6.0
dtype: float64

### Passing the Series to Python's Built-In Functions

In [140]:
cities = pd.Series(
    data = ["San Francisco", "Los Angeles", "Las  Vegas", np.nan]
)

Question 1:
How many elements are there in the cities series?

Question 2:
What is the type of the cities series?

Question 3:
What is the data type of the elements in the cities series?

Question 4:
How can you determine the available methods and attributes of the cities series?

Question 5:
Can you find the first element in the cities series?

Question 6:
How would you check if there are any missing (NaN) values in the cities series?

Question 7:
If you wanted to convert all the elements in the cities series to lowercase, what method would you use?

Question 8:
How can you obtain a summary of basic statistics for the cities series, such as count, unique values, and frequency of the most common value?

Question 9:
Is it possible to access the second element of the cities series using both index-based and label-based indexing?

Question 10:
If you wanted to remove any missing (NaN) values from the cities series, what method would you use?

Question 11:
How would you check if a specific city, for example, "Los Angeles," is present in the cities series?

Question 12:
If you wanted to add a new city, "New York," to the cities series, how would you do it?

Question 13:
How can you convert the cities series to a Python list?

Question 14:
What is the result of converting the cities series to a dictionary? How are the indices represented?

Question 15:
How can you check if "Las Vegas" is present in the cities series using the in operator?

Question 16:
What is the result of checking if the index value 2 is present in the cities series using the in operator?

Question 17:
How can you check if the value "Las Vegas" is present in the values of the cities series?

Question 18:
What is the result of checking if the value 100 is not present in the cities series using the not in operator?

Question 19:
How can you check if the value "Paris" is not present in the values of the cities series?

Question 20:
How would you access the second element of the cities series using index-based and label-based indexing?

In [141]:
# Question 1: How many elements are there in the cities series?

cities.count()

3

In [142]:
# Question 2: What is the type of the cities series?

type(cities)

pandas.core.series.Series

In [143]:
# Question 3: What is the data type of the elements in the cities series?

cities.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4 entries, 0 to 3
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      object
dtypes: object(1)
memory usage: 164.0+ bytes

In [144]:
# Question 4: How can you determine the available methods and attributes of the cities series?

dir(cities)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [145]:
# Question 5: Can you find the first element in the cities series?

cities[0]

'San Francisco'

In [146]:
# Question 6: How would you check if there are any missing (NaN) values in the cities series?

cities.isna().sum()

1

In [183]:
# Question 7: If you wanted to convert all the elements in the cities series to lowercase, what method would you use?

cities.str.lower()

0    san francisco
1      los angeles
2       las  vegas
3              NaN
4         new york
dtype: object

In [152]:
#Question 8: How can you obtain a summary of basic statistics for the cities series, such as count, unique values, and frequency of the most common value?

cities.describe()

count                 3
unique                3
top       San Francisco
freq                  1
dtype: object

In [153]:
#Question 9: Is it possible to access the second element of the cities series using both index-based and label-based indexing?

cities.iloc[1]

'Los Angeles'

In [154]:
cities[1]

'Los Angeles'

In [155]:
# Question 10: If you wanted to remove any missing (NaN) values from the cities series, what method would you use?

cities.dropna()

0    San Francisco
1      Los Angeles
2       Las  Vegas
dtype: object

In [157]:
# Question 11: How would you check if a specific city, for example, "Los Angeles," is present in the cities series?
cities.str.contains("Los Angeles")

0    False
1     True
2    False
3      NaN
dtype: object

In [161]:
# Question 12: If you wanted to add a new city, "New York," to the cities series, how would you do it?

cities[4] = "New York"

cities

0    San Francisco
1      Los Angeles
2       Las  Vegas
3              NaN
4         New York
dtype: object

In [162]:
# Question 13: How can you convert the cities series to a Python list?

list(cities)

['San Francisco', 'Los Angeles', 'Las  Vegas', nan, 'New York']

In [163]:
# Question 14: What is the result of converting the cities series to a dictionary? How are the indices represented?

dict(cities) # indices are represnted as keys.

{0: 'San Francisco', 1: 'Los Angeles', 2: 'Las  Vegas', 3: nan, 4: 'New York'}

In [177]:
# Question 15: How can you check if "Las Vegas" is present in the cities series using the in operator?

'Las  Vegas' in cities.values

True

In [178]:
# Question 16: What is the result of checking if the index value 2 is present in the cities series using the in operator?

2 in cities

True

In [179]:
# Question 17: How can you check if the value "Las Vegas" is present in the values of the cities series?

'Las  Vegas' in cities.values

True

In [180]:
# Question 18: What is the result of checking if the value 100 is not present in the cities series using the not in operator?

100 not in cities

True

In [181]:
# Question 19: How can you check if the value "Paris" is not present in the values of the cities series?

'paris' not in cities.values

True

In [186]:
# Question 20: How would you access the second element of the cities series using index-based and label-based indexing?
cities.iloc[1]

'Los Angeles'

In [187]:
cities[1]

'Los Angeles'

In [188]:
superheroes = [
    "Batman",
    "Superman",
    "Spider-Man",
    "Iron Man",
    "Captain America",
    "Wonder Woman"
]

In [189]:
strength_levels = (100, 120, 90, 95, 110, 120)

In [190]:
heroes = pd.Series(
    data = strength_levels, index = superheroes
)

heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

Question 1:
What are the superheroes and their corresponding strength levels in the heroes series?

Question 2:
How can you access the first two elements of the heroes series?

Question 3:
How can you access the last four elements of the heroes series?

Question 4:
How many unique strength levels are there in the heroes series?

Question 5:
What is the mean strength level of the superheroes in the heroes series?

Question 6:
Who is the superhero with the maximum strength level in the heroes series?

Question 7:
Who is the superhero with the minimum strength level in the heroes series?

Question 8:
What is the result of doubling the strength levels of each superhero in the heroes series?

Question 9:
How can you convert the heroes series to a dictionary?

Question 10:
How would you check if Spider-Man is present in the index of the heroes series?

Question 11:
How can you check if the strength level of Wonder Woman is present in the values of the heroes series?

In [191]:
# Question 1: What are the superheroes and their corresponding strength levels in the heroes series?

heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [192]:
# Question 2: How can you access the first two elements of the heroes series?

heroes.head(2)

Batman      100
Superman    120
dtype: int64

In [193]:
# Question 3: How can you access the last four elements of the heroes series?

heroes.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [200]:
# Question 4: How many unique strength levels are there in the heroes series?

heroes.unique()

array([100, 120,  90,  95, 110], dtype=int64)

In [202]:
# Question 5: What is the mean strength level of the superheroes in the heroes series?

heroes.unique().mean()

103.0

In [204]:
# Question 6: Who is the superhero with the maximum strength level in the heroes series?

max(heroes.index)

'Wonder Woman'

In [215]:
# Question 7: Who is the superhero with the minimum strength level in the heroes series?
heroes.idxmin()

'Spider-Man'

In [216]:
#Question 8: What is the result of doubling the strength levels of each superhero in the heroes series?

heroes.mul(2)

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

In [217]:
#Question 9: How can you convert the heroes series to a dictionary?

dict(heroes)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}

In [219]:
# Question 10: How would you check if Spider-Man is present in the index of the heroes series?

'Spider-Man' in heroes

True

In [ ]:
# Question 11: How can you check if the strength level of Wonder Woman is present in the values of the heroes series?

In [221]:
120 in heroes.values

True