###  Import the necessary libraries

In [22]:
import pandas as pd
import numpy as np

### Import the dataset chipotle.tsv and assign it to a variable called chipo.

In [23]:
called_chipo = pd.read_csv('chipotle 1.tsv', sep='\t')
called_chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

Question 1:
How many observations are there in the chipo dataset?

Question 2:
What is the information about the data types and missing values in the chipo dataset?

Question 3:
How many columns are there in the chipo dataset?

Question 4:
What are the names of all the columns in the chipo dataset?

Question 5:
How is the chipo dataset indexed?

Question 6:
Which item was the most-ordered in the item_name column?

Question 7:
For the most-ordered item, how many items were ordered?

Question 8:
What was the most ordered item in the choice_description column?

Question 9:
How many items were ordered in total?

Question 10:
What is the data type of the item_price column?

Question 11:
How can you turn the item_price column into a float?

Question 12:
How much was the total revenue for the period in the dataset?

Question 13:
How many orders were made in the period?

Question 14:
What is the average revenue amount per order? (Two possible solutions are provided)

Question 15:
How many different items are sold?

In [24]:
# Question 1:
# How many observations are there in the chipo dataset?
called_chipo.shape

(4622, 5)

In [25]:
# Question 2:
# What is the information about the data types and missing values in the chipo dataset?
called_chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [26]:
# Question 3:
# How many columns are there in the chipo dataset?
len(called_chipo.columns)

5

In [27]:
# Question 4:
# What are the names of all the columns in the chipo dataset?
called_chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [28]:
# Question 5:
# How is the chipo dataset indexed?
called_chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [29]:
# Question 6:
# Which item was the most-ordered in the item_name column?
called_chipo['item_name'].value_counts()[:1]

item_name
Chicken Bowl    726
Name: count, dtype: int64

In [30]:
# Question 7:
# For the most-ordered item, how many items were ordered?
called_chipo['item_name'].value_counts()[0]

C:\Users\SRIJAN\AppData\Local\Temp\ipykernel_5916\665353364.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  called_chipo['item_name'].value_counts()[0]

726

In [31]:
# Question 8:
# What was the most ordered item in the choice_description column?
called_chipo['choice_description'].value_counts()[:1]

choice_description
[Diet Coke]    134
Name: count, dtype: int64

In [32]:
# Question 9:
# How many items were ordered in total?
called_chipo['quantity'].sum()

4972

In [33]:
# Question 10:
# What is the data type of the item_price column?
called_chipo['quantity'].dtype

dtype('int64')

In [34]:
# Question 11:
# How can you turn the item_price column into a float?
called_chipo['item_price']= called_chipo['item_price'].apply(lambda x: float(x[1:]))

In [35]:
# Question 12:
# How much was the total revenue for the period in the dataset?
revenue = (called_chipo['quantity'] * called_chipo['item_price']).sum()
revenue

39237.02

In [36]:
# Question 13:
# How many orders were made in the period?
num_order = called_chipo['order_id'].nunique()
num_order

1834

In [37]:
# Question 14:
# What is the average revenue amount per order? 
revenue / num_order

21.39423118865867

In [38]:
called_chipo.groupby('order_id')['item_price'].mean()

order_id
1        2.890000
2       16.980000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: item_price, Length: 1834, dtype: float64

In [39]:
# Question 15:
# How many different items are sold?
called_chipo['item_name'].nunique()

50