###  Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

### Import the dataset chipotle.tsv and assign it to a variable called chipo.

In [5]:
chipo = pd.read_csv('C:\\Users\\MohammedKareemKhan\\Desktop\\pandas assgnmt\\chipotle 1.tsv', header=0, sep='\t')

Question 1:
How many observations are there in the chipo dataset?

Question 2:
What is the information about the data types and missing values in the chipo dataset?

Question 3:
How many columns are there in the chipo dataset?

Question 4:
What are the names of all the columns in the chipo dataset?

Question 5:
How is the chipo dataset indexed?

Question 6:
Which item was the most-ordered in the item_name column?

Question 7:
For the most-ordered item, how many items were ordered?

Question 8:
What was the most ordered item in the choice_description column?

Question 9:
How many items were ordered in total?

Question 10:
What is the data type of the item_price column?

Question 11:
How can you turn the item_price column into a float?

Question 12:
How much was the total revenue for the period in the dataset?

Question 13:
How many orders were made in the period?

Question 14:
What is the average revenue amount per order? (Two possible solutions are provided)

Question 15:
How many different items are sold?

In [6]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [7]:
# How many observations are there in the chipo dataset?
print('number of observations:',chipo.shape[0])

number of observations: 4622

In [8]:
# What is the information about the data types and missing values in the chipo dataset?
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [9]:
chipo.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [10]:
# How many columns are there in the chipo dataset?
print('number of columns: ',chipo.shape[1])

number of columns:  5

In [11]:
# What are the names of all the columns in the chipo dataset?
print('column names:',tuple(chipo.columns))

column names: ('order_id', 'quantity', 'item_name', 'choice_description', 'item_price')

In [12]:
# How is the chipo dataset indexed?
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [13]:
# Which item was the most-ordered in the item_name column?
chipo.item_name.value_counts()[:1]

item_name
Chicken Bowl    726
Name: count, dtype: int64

In [14]:
# For the most-ordered item, how many items were ordered?
chipo.groupby('item_name')[['quantity']].sum()

                                       quantity
item_name
6 Pack Soft Drink                            55
Barbacoa Bowl                                66
Barbacoa Burrito                             91
Barbacoa Crispy Tacos                        12
Barbacoa Salad Bowl                          10
Barbacoa Soft Tacos                          25
Bottled Water                               211
Bowl                                          4
Burrito                                       6
Canned Soda                                 126
Canned Soft Drink                           351
Carnitas Bowl                                71
Carnitas Burrito                             60
Carnitas Crispy Tacos                         8
Carnitas Salad                                1
Carnitas Salad Bowl                           6
Carnitas Soft Tacos                          40
Chicken Bowl                                761
Chicken Burrito                             591
Chicken Crispy Tacos                         50
Chicken Salad                                 9
Chicken Salad Bowl                          123
Chicken Soft Tacos                          120
Chips                                       230
Chips and Fresh Tomato Salsa                130
Chips and Guacamole                         506
Chips and Mild Fresh Tomato Salsa             1
Chips and Roasted Chili Corn Salsa           23
Chips and Roasted Chili-Corn Salsa           18
Chips and Tomatillo Green Chili Salsa        45
Chips and Tomatillo Red Chili Salsa          50
Chips and Tomatillo-Green Chili Salsa        33
Chips and Tomatillo-Red Chili Salsa          25
Crispy Tacos                                  2
Izze                                         20
Nantucket Nectar                             29
Salad                                         2
Side of Chips                               110
Steak Bowl                                  221
Steak Burrito                               386
Steak Crispy Tacos                           36
Steak Salad                                   4
Steak Salad Bowl                             31
Steak Soft Tacos                             56
Veggie Bowl                                  87
Veggie Burrito                               97
Veggie Crispy Tacos                           1
Veggie Salad                                  6
Veggie Salad Bowl                            18
Veggie Soft Tacos                             8

In [15]:
# What was the most ordered item in the choice_description column?
chipo.choice_description.value_counts()[:1]

choice_description
[Diet Coke]    134
Name: count, dtype: int64

In [16]:
# How many items were ordered in total?
chipo.quantity.sum()

4972

In [17]:
# What is the data type of the item_price column?
chipo.item_price.dtype

dtype('O')

In [18]:
# How can you turn the item_price column into a float?
chipo['item_price']=chipo.item_price.replace('[\$]','',regex=True).astype(float)

In [19]:
 # How much was the total revenue for the period in the dataset?
(chipo.quantity*chipo.item_price).sum()

39237.02

In [20]:
# How many orders were made in the period?
chipo.order_id.nunique()

1834

In [21]:
# What is the average revenue amount per order? (Two possible solutions are provided)
chipo['revenue'] = chipo.item_price*chipo.quantity

In [29]:
chipo.groupby('order_id')[['revenue']].mean()

            revenue
order_id
1          2.890000
2         33.960000
3          6.335000
4         10.500000
5          6.850000
...             ...
1830      11.500000
1831       4.300000
1832       6.600000
1833      11.750000
1834       9.583333

[1834 rows x 1 columns]

In [28]:
chipo.groupby('order_id')['revenue'].sum().mean()

21.39423118865867

In [34]:
chipo.groupby('order_id').apply(lambda group: (group['quantity'] * group['item_price']).mean())

order_id
1        2.890000
2       33.960000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Length: 1834, dtype: float64

In [33]:
chipo.groupby('order_id').apply(lambda group: (group['quantity'] * group['item_price']).sum()).mean()

21.39423118865867

In [24]:
# How many different items are sold?
len(chipo.item_name.unique())

50