###  Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Import the dataset chipotle.tsv and assign it to a variable called chipo.

In [5]:
chipo = pd.read_csv('chipotle 1.tsv', header=0, sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [7]:
# Question 1:
# How many observations are there in the chipo dataset?
chipo.shape[0]

4622

In [9]:
# Question 2:
# What is the information about the data types and missing values in the chipo dataset?
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [12]:
# Question 3:
# How many columns are there in the chipo dataset?
chipo.shape[1]

5

In [15]:
# Question 4:
# What are the names of all the columns in the chipo dataset?
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [19]:
# Question 5:
# How is the chipo dataset indexed?
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [29]:
# Question 6:
# Which item was the most-ordered in the item_name column?
chipo.item_name.value_counts().head()

Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Steak Burrito          368
Canned Soft Drink      301
Name: item_name, dtype: int64

In [38]:
# Question 7:
# For the most-ordered item, how many items were ordered?
chipo.item_name.value_counts()[:1]

Chicken Bowl    726
Name: item_name, dtype: int64

In [35]:
# Question 8:
# What was the most ordered item in the choice_description column?
chipo.choice_description.value_counts()[:1]

[Diet Coke]    134
Name: choice_description, dtype: int64

In [39]:
# Question 9:
# How many items were ordered in total?
chipo.quantity.sum()

4972

In [40]:
# Question 10:
# What is the data type of the item_price column?
chipo.item_price.dtype

dtype('O')

In [47]:
# Question 11:
# How can you turn the item_price column into a float?
chipo.item_price=chipo.item_price.replace('[\$]','',regex=True).astype(float)

In [49]:
# Question 12:
# How much was the total revenue for the period in the dataset?
(chipo.quantity *chipo.item_price).sum()

39237.02

In [50]:
# Question 13:
# How many orders were made in the period?
chipo.order_id.nunique()

1834

In [69]:
# Question 14:
# What is the average revenue amount per order? (Two possible solutions are provided)
((chipo.quantity *chipo.item_price)/chipo.quantity.sum())

0       0.000481
1       0.000682
2       0.000682
3       0.000481
4       0.006830
          ...
4617    0.002363
4618    0.002363
4619    0.002263
4620    0.001760
4621    0.001760
Length: 4622, dtype: float64

In [63]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
average_revenue_per_order = chipo.groupby('order_id')['revenue'].sum().mean()

In [64]:
chipo

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [62]:
average_revenue_per_order = chipo.groupby('order_id').apply(lambda group: (group['quantity'] * group['item_price']).sum()).mean()
average_revenue_per_order

21.394231188658654

In [73]:

# Question 15:
# How many different items are sold?
len(chipo.item_name.value_counts())

50